<li class="flex justify-between gap-x-6 py-5">
  <div class="flex gap-x-4">
    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="/assets/images/default-avatar.png" alt="">
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <a href="/organizations/{{ organization.abbreviation | downcase }}">{{ organization.name }}</a>
      </p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ organization.abbreviation }}</p>
    </div>
  </div>
  <div class="hidden sm:flex sm:flex-col sm:items-end">
    <p class="mt-1 text-xs leading-5 text-gray-500">
      <a href="{{ organization.url }}" target="_blank" rel="noopener">{{ organization.url }}</a>
    </p>
  </div>
</li>
